include README.md NOTICE.md LICENSE
recursive-include planetary_operations/data *.json
recursive-include planetary_operations/templates *.html
recursive-include planetary_operations/static *.css *.js
recursive-include tests *.py
recursive-include tools *.py
recursive-include docs *.md *.png
